<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Commander.ID" value="F5760286" />
    <add key="Commander.Name" value="knight-owl" />
    <add key="Commander.Squadron" value="CANONN" />
    <add key="Commander.Rank" value="Mostly Harmless" />
    <add key="Ship.Type.Name" value="Anaconda" />
    <add key="Ship.Name" value="NULL SET" />
    <add key="Ship.Callsign" value="000000" />
    <add key="Ship.ID" value="9" />
    <add key="Ship.Crew.Name" value="" />
    <add key="Carrier.Name" value="FLEET CARRIER" />
    <add key="Carrier.Callsign" value="" />
    <add key="Carrier.StarSystem" value="" />
    <add key="Carrier.Body" value="" />
    <add key="Location.System" value="Phooe Aewsy XU-N c20-0" />
    <add key="Location.Location" value="Phooe Aewsy XU-N c20-0" />
    <add key="Location.Position" value="16078.75,112.3125,-6575.15625" />
    <add key="Prices.Distance" value="0" />
    <add key="Prices.Timeout" value="0" />
    <add key="Selected.Commodity" value="" />
    <add key="Selected.Service" value="Authority Contacts" />
    <add key="Main.Options" value="SAMDV" />
    <add key="Overlay.Options" value="L" />
    <add key="Channel.Options" value="" />
    <add key="Live.Options" value="" />
    <add key="Overlay.Mode" value="MYQIN" />
    <add key="Main.Position" value="983,327" />
    <add key="Journal.Path" value="C:\Users\Dylan\Saved Games\Frontier Developments\Elite Dangerous" />
    <add key="Journal.Filter" value="journal.*.log" />
    <add key="Installation.Path" value="C:\Users\Dylan\AppData\Local\Frontier Developments\Elite Dangerous" />
    <add key="Log.Path" value="C:\Program Files (x86)\Sidsoft\FirstContact\logs" />
    <add key="Commander.Path" value="C:\Program Files (x86)\Sidsoft\FirstContact" />
    <add key="Inara.APIKey" value="" />
    <add key="Livestream.Connection" value="tcp://eddn.edcd.io:9500" />
    <add key="Commander.SquadronID" value="XXXX" />
    <add key="Commander.VehicleID" value="0" />
    <add key="Suit.LoadoutID" value="4293000000" />
    <add key="Suit.LoadoutName" value="Default" />
    <add key="Suit.Name" value="SUIT [DEFAULT]" />
    <add key="Suit.Type" value="Flight Suit" />
    <add key="Ship.Cargo.Capacity" value="32" />
    <add key="Ship.Limpets" value="9" />
    <add key="Location.System.Address" value="110830390706" />
    <add key="Location.Security" value="Anarchy" />
    <add key="Location.System.Faction" value="" />
    <add key="Location.Station.Faction" value="" />
    <add key="Exploration.Value" value="1,842,780" />
    <add key="Logging.Options" value="" />
    <add key="Voice.Options" value="DWM" />
    <add key="Message.Voice" value="" />
    <add key="Overlay.Scaling" value="100" />
    <add key="Dark.Colour" value="0" />
    <add key="Screenshot.Path" value="M:\Pictures\Frontier Developments\Elite Dangerous" />
    <add key="Horizons" value="True" />
    <add key="Odyssey" value="True" />
    <add key="Message.Overlay.Position" value="-1287,242" />
    <add key="Cargo.Overlay.Position" value="0,0" />
    <add key="Target.Overlay.Position" value="0,0" />
    <add key="Route.Overlay.Position" value="0,0" />
    <add key="Materials.Overlay.Position" value="0,0" />
    <add key="Mining.Overlay.Position" value="0,0" />
    <add key="Prices.Overlay.Position" value="0,0" />
    <add key="Macros.Overlay.Position" value="0,0" />
    <add key="Missions.Overlay.Position" value="0,0" />
    <add key="Fleet.Overlay.Position" value="0,0" />
    <add key="Services.Overlay.Position" value="0,0" />
    <add key="Profile.Overlay.Position" value="0,0" />
    <add key="Rewards.Overlay.Position" value="0,0" />
    <add key="Market.Overlay.Position" value="0,0" />
    <add key="Discovery.Overlay.Position" value="-1607,1307" />
    <add key="Engineers.Overlay.Position" value="0,0" />
    <add key="Images.Overlay.Position" value="0,0" />
    <add key="Loadout.Overlay.Position" value="0,0" />
    <add key="Voice.Settings.Position" value="0,0" />
    <add key="Commanders.Overlay.Position" value="0,0" />
    <add key="BGS.Calculator.Position" value="0,0" />
    <add key="Exploring.Overlay.Position" value="-1159,1314" />
    <add key="Resources.Overlay.Position" value="-575,598" />
    <add key="Keyboard.Overlay.Position" value="0,0" />
    <add key="Organics.Overlay.Position" value="-710,1312" />
    <add key="Commander.Bounty" value="0" />
    <add key="Commander.Fine" value="0" />
    <add key="Exploration.Days" value="100" />
    <add key="EDMC.Action" value="1" />
    <add key="EDMC.Path" value="C:\Program Files (x86)\EDMarketConnector\EDMarketConnector.exe" />
    <add key="HUD.Colours.Position" value="0,0" />
    <add key="Squadron.Overlay.Position" value="0,0" />
    <add key="Commander.Squadron.Faction" value="" />
    <add key="Journal.Maintenance.Position" value="0,0" />
  </appSettings>
</configuration>